black==24.10.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
coverage==7.6.4
defusedxml==0.7.1
exceptiongroup==1.2.2
genbadge==1.1.1
idna==3.10
iniconfig==2.0.0
isort==5.13.2
Jinja2==3.1.4
MarkupSafe==3.0.2
mypy==1.13.0
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
pillow==11.0.0
platformdirs==4.3.6
pluggy==1.5.0
pytest==8.3.3
pytest-cov==6.0.0
pytest-metadata==3.1.1
requests==2.32.3
setuptools==75.3.0
tomli==2.0.2
typing_extensions==4.12.2
urllib3==2.2.3
